{% extends 'html/base.html' %}
{% block title %}Logout{% endblock %}
{% block content %}
<div class="container" style="margin-top: 100px;">
    <div style="background: linear-gradient(90deg, rgba(236,207,127,1) 35%, rgba(236,237,5,1) 100%);" class="card col-md-5 mx-auto shadow-lg">
        <div class="card-body">
            <h3 style="color: aliceblue;">Logout</h3>
            <p style="color: rgb(152, 194, 231);">Are you sure you Want to logout?</p>
            <a href="{% url 'index' %}" class="btn btn-outline-success ">Logout</a>

        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}
